body{
    background-color: #efefef;
}
.main {
    background-color: white;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.img {
    width: 45px;
    height: 45px;
}

.text {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}